.button {
  width: 346px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  text-decoration: none;
  color: $c-white;

  background-color: $c-main;

  transition: background-color 0.3s;

  &:hover {
    background-color: $c-hover;
  }

  &:active {
    background-color: $c-pressed;
  }
}
