.header {
  height: 100vh;

  background-image: url(../images/Photo.jpg);
  background-size: cover;

  &__menu {
    display: block;

    @include onTablet {
      position: fixed;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;

    @include onNotebook {
      padding-top: 10%;
    }

    @include onTablet {
      padding-top: 20%;
    }

    @include onPhone {
      padding-top: 30%;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 0;

    @include onTablet {
      position: static;
    }
  }

  &__logo {
    margin-top: 22px;
  }

  &__title {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 100px;
    line-height: 118%;
    color: $c-white;

    &--red {
      color: $c-main;
      margin-right: 0;
    }

    @include onTablet {
      font-size: 80px;
    }

    @include onPhone {
      font-size: 40px;
    }
  }

  &__paragraph {
    margin-top: 50px;

    font-size: 20px;
    color: $c-white;
  }

  &__button {
    margin-top: 40px;
  }
}
