.header {
  height: 978px;
  width: 1900px;

  background-image: url(../images/Photo.jpg);

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }

  &__actions {
    display: flex;
    justify-content: space-around;
  }

  &__scroll {
    width: 816px;
  }

  &__logo {
    margin-top: 22px;
  }

  &__title {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 100px;
    line-height: 118%;
    color: $c-white;

    &--red {
      color: $c-main;
    }
  }

  &__paragraph {
    width: 420px;
    margin-top: 50px;

    font-size: 20px;
    color: $c-white;
  }

  &__button {
    margin-top: 40px;
  }
}
