.icon {
  display: block;
  height: 40px;
  width: 40px;

  &--hamburger {
    display: none;
    margin-top: 12px;
    background-image: url(../images/icons/Icon-Burger-menu.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @include onTablet {
      display: block;
      height: 50px;
      width: 50px;
    }
  }

  &--cross {
    display: none;
    margin-top: 21px;
    position: fixed;
    margin-left: 130%;

    background-image: url(../images/icons/Icon-Close.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @include onTablet {
      display: block;
    }
  }
}
