.logo {
  width: 63px;
  height: 26px;
  margin: auto 0;
  display: inline-block;
  // background: url(../images/icons/Logo.svg) no-repeat;
  // background-size: contain;
  color: $c-white;

  transition: color 0.3s;

  @include onTablet {
    height: 33px;
    width: 200px;
    margin-left: 15px;
  }

  @include onPhone {
    width: 100px;
    margin-left: 20px;
  }
}
