.logo {
  width: 63px;
  height: 26px;
  display: inline-block;
  background: url(../images/icons/Logo.svg) no-repeat;
  background-size: contain;

  @include onTablet {
    height: 33px;
    width: 400px;
  }

  @include onPhone {
    width: 200px;
  }
}
