.main {
  display: flex;
  background-color: $c-white;
  overflow-x: hidden;

  @include onTablet {
    display: block;
  }

  &__photo {
    max-width: 100%;
    margin-top: 174px;
    margin-left: 20%;
    margin-bottom: 122px;

    box-shadow: -680px -100px 0 -10px $c-white,
      -300px -100px 0 -10px $c-main;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__help {
    // width: 444px;
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    margin-left: 77px;

    @include onPhone {
      margin-top: 40px;
      margin-left: 30px;
    }
  }

  &__help-paragraph {
    font-weight: 600;
    font-size: 24px;
    line-height: 157%;
    color: $c-gray;

    @include onPhone {
      margin-bottom: 0;
    }
  }

  &__title {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 50px;
    font-weight: 700;

    @include onPhone {
      font-size: 33px;
    }

    &--red {
      color: $c-main;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    position: relative;
  }

  &__label-text {
    width: 3rem;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    color: $c-gray;
    background-color: $c-white;

    transform: translate(30px, -65px);

    @include onTablet {
      transform: translate(-484px, -27px);
    }

    @include onPhone {
      transform: translate(-233px, -26px);
    }

    &--phone {
      width: 4rem;
    }
  }

  &__input {
    height: 50px;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    font-family: inherit;

    @include onPhone {
      width: 90%;
    }

    @include onTablet {
      width: 70%;
    }
  }

  &__select {
    margin-top: 12px;
    height: 50px;
    width: 102%;
    padding-left: 10px;
    font-family: inherit;
    border: 1px solid $c-gray;
    border-radius: 4px;

    @include onTablet {
      width: 72%;
    }

    @include onPhone {
      width: 74%;
    }
  }

  &__buttons {

    @include onPhone {
      display: flex;
    }
  }

  &__check-buttons {
    margin: 20px 20px 20px 0;
  }

  &__checkbox-label {
    margin-right: 40px;
    font-size: 14px;
    cursor: pointer;

    @include onPhone {
      display: flex;
      margin-top: 10px;
      margin-right: 10px;
    }

    &:hover {
      color: $c-hover;
    }

    &:active {
      color: $c-pressed;
    }
  }

  &__checkbox {
    margin: 0;
    margin-right: 5px;
    appearance: none;
    width: 1.3em;
    height: 1.3em;
    border: 1px solid $c-gray;
    border-radius: 4px;
    cursor: pointer;
    transform: scale(1.1) translateY(3px);
    transition: background-color 0.3s, transform 0.3s;

    &:checked {
      background-color: $c-secondary;
      transform: scale(1) translateY(3px);

      &::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid $c-white;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  &__radio-buttons {
    margin: 15px 20px 30px 0;

    @include onPhone {
      margin-top: 20px;
    }
  }

  &__radiobutton-label {
    font-size: 14px;
    margin-right: 24px;
    cursor: pointer;

    @include onPhone {
      display: flex;
      margin-top: 10px;
    }

    &:hover {
      color: $c-hover;
    }

    &:active {
      color: $c-pressed;
    }
  }

  &__radiobutton {
    top: 2px;
    position: relative;
    margin: 0;
    margin-right: 5px;
    appearance: none;
    color: red;
    height: 1.3em;
    width: 1.3em;
    border: 1px solid $c-gray;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.5s;

    &:checked {
      background-color: $c-secondary;
      outline: 1px solid $c-gray;
      outline-offset: 2px;
      transform: scale(0.8);
    }
  }

  &__textarea {
    width: 100%;
    border: 1px solid $c-gray;
    border-radius: 4px;

    @include onPhone {
      width: 90%;
    }

    @include onTablet {
      width: 70%;
    }
  }

  &__button {
    margin-top: 75px;
    margin-bottom: 40px;

    @include onTablet {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    @include onPhone {
      width: 72%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

  }
}
