.menu {
  &__list {
    display: flex;
    list-style: none;

    &-item {
      margin-left: 50px;

      line-height: 24px;
      font-weight: 500;
      font-size: 20px;
    }
  }

  &__link {
    color: $c-white;

    text-decoration-color: transparent;
    text-underline-offset: 10px;

    transition: text-decoration 0.3s;

    &:hover {
      text-decoration-color: $c-hover;
    }

    &:active {
      color: $c-pressed;
      text-decoration-color: $c-pressed;
    }
  }
}
